@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;


.futures {
    margin-bottom: 2rem;
    &__main-cont {
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        background-color: $bg-200;
       
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        border-right: 1px solid $accent-200;
        margin: .625rem 0;
        padding-right: 4rem;
        text-align: center;
   
    }
    &__header {
        margin: .5rem;
        font-size: 1rem;
        font-weight: 600;
        color: $accent-200;
    }
    &__price {
        margin: .5rem;
        font-size: 1rem;
        font-weight: 400;
        color: $text-200;
    }
}




