
.futures {
    margin-bottom: 2rem;
    &__main-cont {
        display: flex;
        margin: 0 1rem;
        justify-content: space-between;
       
    }
    &__container {
        width: 125px;
        height: 100px;
        border: 1px solid rgb(70, 62, 62);
        box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        text-align: center;
        background-color: #c0f3c1db;
        border-radius: 1.25rem;
    }
    &__header {
        margin: .5rem;
        font-size: 1rem;
        font-weight: 600;
    }
    &__price {
        margin: .5rem;
        font-size: 1rem;
        font-weight: 400;
    }
}




