@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;


.futures {
   width: 100%;
	background: linear-gradient(to bottom, $bg-300, $bg-200);
   &__main-cont {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
		overflow-y: auto;
      background: linear-gradient(to bottom, $bg-300, $bg-200);
		margin: 0 .5rem;
   }
   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: .0625rem solid $accent-200;
      border-radius: .5rem;
      margin: 1rem .5rem 1rem 0;
      text-align: left;
      box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1); 
      transition: background-color 0.3s ease;
		@include tablet {
			height: 100px;
		}
   }
   &__container:hover {
      background: linear-gradient(to right, $primary-200, $accent-100);
   }
   &__header {
      margin: .2rem .3rem;
      font-size: .9375rem;
      font-weight: 600;
      color: $accent-200;
   }
   &__price {
		display: flex;
      margin: .3rem;
      font-size: .8125rem;
      font-weight: 400;
      color: $text-200;
   }
}




