@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-100;
    max-width: 100%;
    max-height: 100%;

    &__header-cont {
        display: flex;
        justify-content: center;
        background-color: $primary-400;
        width: 100%;
        color: $text-300;
        @include desktop {
            font-size: 1.4rem;
        }
       
    }
    &__header {
        color: $text-200;
        margin-top: 2rem;
        @include desktop {
            font-size: 3rem
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid .0625rem $accent-200;
        border-radius: .625rem;
        background-color: $bg-200;
        width: 15rem;
        margin: 3.5rem 0;
        @include desktop {
            margin: 4rem;
            width: 18.75rem;
        }
    
    }
      
    &__button {
        background-color: $accent-100;
        border: none;
        color: $text-200;
        border-radius: 5px;
        width: 55%;
        height: 25px;
        cursor: pointer;
        @include desktop {
            width: 13.5rem;
            height: 1.875rem;
            font-size: 1.125rem;
        }
    }
    &__login {
        color: $text-200;
        margin: 1.5rem 0;
        font-size: 1.125rem;
    }
    &__login-link {
        color: $accent-200;
    }

}