@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;

.field {
    margin-bottom: .8rem;
    &__label {
        color: $text-200;
        @include desktop {
            font-size: 1.125rem;
        }
    }
    &__input {
        padding-left: .5rem;
        background-color: $bg-100;
        border: .0625rem solid $accent-200;
        border-radius: .3125rem;
        height: 1.25rem;
        @include desktop {
            width: 12.5rem;
            height: 1.5625rem;
        }
     
    }
}