@use "./Variables.scss" as*;



body {
    margin: 0rem;
    font-family: 'Roboto','Helvetica', sans-serif, Arial;
    background-color: $bg-100;
    
}
main {
    margin: 0rem;
    font-family: 'Roboto','Helvetica', sans-serif, Arial;
    background-color: $bg-100;
}