@use "./Variables.scss" as*;



body {
    margin: 0rem;
    font-family: 'Roboto','Helvetica', sans-serif, Arial;
    background-color: $bg-200;
    
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem;
    font-family: 'Roboto','Helvetica', sans-serif, Arial;
    background-color: $bg-200;
}