@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-200;
    max-width: 100%;
    max-height: 100%;

    &__header-cont {
        display: flex;
        justify-content: center;
        background-color: $primary-400;
        width: 100%;
        color: $text-300;
        @include desktop {
            font-size: 1.4rem;
        }
    }
    &__header {
        color: $text-200;
        @include desktop {
            font-size: 3rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid .0625rem $accent-200;
        border-radius: .625rem;
        background-color: $bg-200;
        width: 14rem;
        margin: 7.2rem 0;
        @include tablet {
            margin: 7.2rem;
        }
        @include desktop {
            height: 26.1rem;
            width: 20rem;
            margin: 6.3rem;
        }    
    }
   
    
    &__button {
        background-color: $primary-200;
        border: none;
        color: $text-200;
        border-radius: 5px;
        width: 65%;
        height: 25px;
        cursor: pointer;
        transition: background-color 0.4s ease;
        @include desktop {
            width: 13.4rem;
            height: 2rem;
            margin-top: 1rem;
        }
        &:hover {
            background-color: $accent-200;
            color: $bg-100; 
        }
    }
    &__message-cont {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__message {
        margin: 1rem 1rem;
        color: $text-200; 
        
    }
    &__signup {
        color: $text-200;
        margin: 1.5rem 0;
        @include desktop {
            font-size: 1.125rem;
        }
    }
    &__singup-link {
        color: $accent-200;
        font-size: 1.125rem;
    }
}