@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;

.calendar {
   max-width: 50rem;
   margin: 0rem auto 2rem auto;
   &__header-cont {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
   }
   &__header {
      text-align: center;
      margin-bottom: 10px;
   }
   &__button {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: $text-200;
      background-color: $primary-200;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
         background-color: $accent-200;
         color: $bg-100; 
      }
     
       &:focus {
         outline: none;
         box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); 
      }
     
       &:active {
         transform: translateY(1px); 
      }
   }
   &__day-cont {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
   }
  
   &__grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
  }
   &__cell {
      height: 55px;
      width: 65px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: $bg-100;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      &:hover {
         background-color: $primary-100;
         box-shadow: 0 0 0 .5px rgba(0, 0, 0, 0.2); 
         color: black;
      }
   }
   &__earning-sym {
      color: $text-200;
      margin-top: .2rem;
   }
   &__selected {
      background-color: $accent-200;
      color: $text-300;
      border-color: .0625rem $primary-200;
      
   }
   &__empty {
      background-color: $bg-300;
   }


}








