@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;

.calendar {
   max-width: 20rem;
   margin: 1rem 0;
   @include tablet {
      max-width: 50rem;
   }
   @include desktop {
      margin-top: 2rem;
   }
   
   &__header-cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: .5rem .5rem;
      @include tablet {
         width: 99%;
      }

   }
   &__header {
      text-align: center;
      margin-bottom: .625rem;
      @include desktop {
         font-size: 2rem;
      }
   }
   &__button {
      height: 2.5rem;
      width: 3.125rem;
      font-size: .8125rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $text-200;
      background-color: $primary-200;
      border: none;
      border-radius: .375rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      @include tablet {
         height: 3.125rem;
         width: 4.6875rem;
         padding: .625rem 1.25rem;
      }
      &:hover {
         background-color: $accent-200;
         color: $bg-100; 
      }
     
       &:focus {
         outline: none;
         box-shadow: 0 0 0 .0625rem rgba(0, 0, 0, 0.2); 
      }
     
       &:active {
         transform: translateY(.0625rem); 
      }
   }
   &__day-cont {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin: 0 .5rem;
      gap: .2rem;
      @include tablet {
         width: 100%;
         gap: .4375rem;
      }
      @include desktop {
         gap: .625rem;
      }
   }
   &__day-header {
      width: 2.5rem;
   }
  
   &__grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(7, .1fr);
      grid-gap: .125rem;
      margin: 0 .5rem;
      @include tablet {
         grid-template-columns: repeat(7, 1fr);
         grid-gap: .3125rem;
      }
      @include desktop {
         grid-gap: .625rem;
      }
  }
   &__cell {
      height: 2.1875rem;
      width: 2.5rem;
      font-size: .6875rem;
      border: .0625rem solid #ccc;
      background-color: $bg-100;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      @include tablet {
         height: 3.4375rem;
         width: 4.0625rem;
         padding: .625rem;
         font-size: 1rem;
      }
      @include desktop {
         height: 4.0625rem;
         width: 4.6875rem;
      }
      &:hover {
         background-color: $primary-100;
         box-shadow: 0 0 0 .0313rem rgba(0, 0, 0, 0.2); 
         color: black;
      }
   }
   
   &__earning-sym {
      color: $text-200;
      margin: .5rem 0;
      @include tablet {
         margin-top: 1rem;
      }
      @include desktop {
         margin-top: .5rem;
      }
   }
   &__selected {
      background-color: $accent-200;
      color: $text-300;
      border-color: .0625rem $primary-200;
      
   }
   &__empty {
      background-color: $bg-300;
   }
   &__instructions {
      font-size: .625rem;
      margin-left: .5rem;
      @include tablet {
         font-size: .75rem;
         margin-left: 1rem;
      }
    
   }


}








