@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;


.top {
   padding: 1.25rem;
   background: linear-gradient(to bottom, $bg-300, $bg-200);
   border-radius: .625rem;
   box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1); 
   height: fit-content;
   margin: 1rem .5rem;

   &__winner-cont {
      padding-bottom: 1rem;
      border-bottom: solid .0625rem $accent-200;
   }
  
   &__header {
      font-size: 1.25rem;
      color: $text-200;
      margin: .625rem 0;
   }
  
   &__wul-cont {
      list-style-type: none;
      padding: 0;
      margin: 0;
   }
    
   &__lul-cont {
      list-style-type: none;
      padding: 0;
      margin: 0;
   }
   &__ticker {
      color: $text-200;
      margin: 0;
      font-size: .9375rem;
   }
   &__winner {
      display: flex;
      align-items: center;
      font-size: .9375rem;
      gap: .5rem;
      color: green;
      margin-bottom: .3125rem;
   }
  
   &__loser {
      display: flex;
      align-items: center;
      font-size: .9375rem;
      gap: .5rem;
      color: red; 
      margin-bottom: .3125rem;
   }
}