@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;


.header {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 6rem;
   background-color: $primary-400;
   color: $bg-100;
   @include tablet {
   }
 
   &__link {
      text-decoration: none;
      color: $text-300;
   }
   &__logo {
      margin-left: 1rem;
      font-size: 1.5rem;
      z-index: 1; 
      @include tablet {
         padding-left: 1.875rem;
      }
   }
 
   &__menu {
      position: relative;
      display: flex;
      align-items: center;
   }
 
   &__hamburger {
      cursor: pointer;
      padding-right: 1.5rem;
   }
 
   &__ham-line {
      width: 1.5625rem;
      height: .1875rem;
      background-color: $bg-100;
      margin: .25rem 0;
   }
 
   &__dropdown {
      position: absolute;
      top: calc(100% + .625rem);
      right: 0;
      background-color: #333;
      padding: .625rem;
      list-style: none;
      margin: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.6s ease;
      z-index: 1;
      box-shadow: 0 .3125rem .3125rem rgba(0, 0, 0, 0.2); 
      transform: translateY(-0.625rem);
   }
 
   &__dropdown.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(3);
      border-radius: .625rem;
   }
 
   &__dropdown.hidden {
      opacity: 0;
      visibility: hidden;
   }
 
   &__drop-item {
      margin-bottom: 10px;
   }
   &__item-link {
      color: $bg-100;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      margin: .5rem 2rem;
      
   } 

  
}

  