@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;


.ipo {
    padding: 1.25rem;
    background: linear-gradient(to top, $bg-300, $bg-200);
    border-radius: .625rem;
    box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1); 
    height: fit-content;
    margin-right: 1rem;
  
    &__header {
      font-size: 1.5rem;
      color: $text-200;
      margin: .625rem 0;
    }
  
    &__list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    &__item {
        margin-bottom: 0.5rem;
        background-color: $bg-100;
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
  
        strong {
          margin-right: 0.5rem;
        }
    }
    
}