@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;


.ipo {
   max-height: 300px;
   overflow-y: scroll;
   margin: .5rem .5rem;
   padding: 1rem .5rem;
   background: linear-gradient(to bottom, $bg-300, $bg-200);
   border-radius: .625rem;
   box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1); 
   height: fit-content;
   @include tablet {
      margin-top: 1.2rem;
      max-height: 21.1rem;
   }
   @include desktop {
      width: 300px;
   }

   &__header {
      font-size: 1.25rem;
      color: $text-200;
      margin: 0 0 .5rem 1rem;
      @include tablet {
         font-size: 1.5rem;
         margin: 1rem 0 1rem 1rem;
      }
   }
  
   &__main-cont {
      list-style-type: none;
      padding: 0;
      margin: 0;
   }

   &__container {
      margin-bottom: 0.5rem;
      background-color: $bg-100;
      border-radius: 0.5rem;
      padding: 1rem;
      background-color: $primary-200;
   } 
   &__item {
      display: flex;
      align-items: top;
      gap: .5rem;
   }
   &__header-small {
      margin-bottom: .3125rem;
      color: $text-200;
      font-size: .875rem;
   }
   &__description {
      margin: 0;
      font-size: .875rem;
      color: $text-200;
   }
}