@use "../../styles/partials/Mixin.scss" as *;
@use "../../styles/partials/Global.scss" as *;
@use "../../styles/partials/Variables.scss" as *;


.ticker {
    display: flex;
    width: 100%;
    margin: .7rem .5rem;
    background-color: $bg-200;
    overflow: hidden;
    @include tablet {
        margin: 1rem;
    }
    &__container {
        white-space: nowrap;
        animation: ticker-scroll 1000s linear infinite;
    }
    &__item {
        margin-right: 1rem; 
        font-weight: 500;
    }
    &__text {
        margin-right: 1.25rem;
        white-space: nowrap;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
       
    }
}
@keyframes ticker-scroll {
    0% {
       transform: translateX(0);
    }
    100% {
       transform: translateX(-100%);
    }
 }
